$compsa-purple: #c686f3;
$compsa-indigo: #5d15d2;
$compsa-black: #1f1f1f;
$compsa-white: #f0f0f0;
$compsa-yellow: #d7de21;

@mixin gotham-text($size, $weight: 400, $style: normal, $line-height: normal) {
  font-family: Gotham;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  line-height: $line-height;
}

.aboutSection {
  color: $compsa-white;

  .top {
    background: linear-gradient(180deg, rgba(31, 31, 31, 0) 0%, #1f1f1f 100%),
      url('../about/compsci.png');
    background-size: cover; /* Cover the entire content box */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    height: auto;
    height: 100%;

    @media screen and (min-width: 768px) {
    }

    .top-text {
      position: absolute;
      bottom: 220px;
      left: 15%;
      right: 15%;
      max-width: 650px;

      @media (max-width: 600px) {
        bottom: 100px;
      }

      h6 {
        color: $compsa-yellow;
        @include gotham-text(48px, 700, normal, 46px);
        text-align: left;
        letter-spacing: 0em;

        .compsa {
          @include gotham-text(48px, 700);
        }
      }
      p {
        margin-top: 40px;
        @include gotham-text(24px);
      }
    }
  }

  .bottom {
    background: linear-gradient(180deg, #1f1f1f 50%, #5d15d2 100%), #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include gotham-text(16);
    overflow: hidden;
    padding: 40px;

    .bottomSection {
      max-width: 760px;
      width: 100%;
      .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        h6 {
          @include gotham-text(36px, 700);
          margin: 0 20px; // Add horizontal space around the title
          @media (max-width: 600px) {
            font-size: 25px;
          }
        }

        .title-line {
          flex-grow: 1; // This makes the lines take up all remaining space
          height: 1px;
          background-color: $compsa-yellow;
        }
        margin-bottom: 50px;
      }
      .box-container {
        width: 100%;

        .box {
          height: auto;
          margin-bottom: 60px;
          border-radius: 16px;
          background: rgba(245, 245, 245, 0.9);
          box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 0.25);
          color: $compsa-black;
          display: flex;
          font-size: 20px;

          h6 {
            font-size: 30px;
          }

          .box-image {
            position: relative;
            background: url('../about/compsci.png');
            background-size: cover;
            background-repeat: no-repeat;
            flex: 4;
            overflow: hidden;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            @media (max-width: 600px) {
              flex: 1;
              padding-left: 20px;
            }
          }

          .box-content {
            flex: 6;
            width: 67%;
            padding: 20px;
            padding-left: 80px;

            @media (max-width: 600px) {
              flex: 1;
              padding-left: 20px;
            }
            div {
              margin: 10px 2px 10px 0px;
            }

            .title {
              font-weight: 900;
            }

            .btn {
              border-radius: 8px;
              background: $compsa-indigo;
              padding: 12px 20px;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 10px;
              color: $compsa-white;
              width: 50%;
              @media (max-width: 100px) {
                width: 80%;
              }
              @media (max-width: 600px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
