.footer {
  width: 100vw;
  height: auto;

  padding: 40px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  background-color: $compsa-black;
  color: $compsa-white;

  .socials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 10px 0 20px;
    .contact-button {
      background-color: $compsa-white;
      border-radius: 50%;

      margin-inline: 8px;

      display: flex;
      justify-content: center;
      align-items: center;

      height: 50px;
      width: 50px;

      transition: ease-in-out 0.25s all;
      &:hover {
        background-color: rgba($compsa-white, 0.75);
      }
    }
  }

  h1 {
    font-size: 18px;
    margin-block: 0.5em;
  }

  p {
    width: 40vw;
    font-size: 14px;
  }

  .copyright {
    margin-top: 30px;
    color: $compsa-yellow;
    font-size: 12px;
  }

  @media (max-width: $md) {
    p {
      width: 60vw;
    }
  }

  @media (max-width: $sm) {
    p {
      width: 80vw;
    }
    .socials-container {
      margin: 5px 0 15px;
      .contact-button {
        width: 40px;
        height: 40px;
        margin: 6px;
        .icon {
          transform: scale(0.85);
        }
      }
    }
  }
}
