@import "./variables";

.homepage {
  min-height: 100vh;

  .hero-image-container {
    width: 100vw;
    height: 100vh;

    position: relative;

    .gradient {
      height: 100%;
      width: 100%;

      background-image: linear-gradient(
          to top,
          #1f1f1f 5%,
          rgba(#5d15d2, 0.1) 20%,
          transparent 50%
        ),
        url("/homepage-desktop.jpg");
      background-size: cover;
      background-position: center;

      position: absolute;
      top: 50;
      left: 0;
    }

    .text {
      position: absolute;
      left: 0;
      right: 0;
      top: 37%;

      text-align: center;

      h1 {
        font-size: 54px;
      }

      p {
        font-size: 24px;
        margin-top: 5px;
      }
    }
  }

  .events-heading {
    margin-top: 50px;
    overflow: hidden;

    font-size: 38px;
    text-align: center;

    // Text between line effect
    &:before,
    &:after {
      background-color: $compsa-yellow;
      content: "";

      display: inline-block;
      position: relative;
      vertical-align: middle;

      bottom: 3px;
      height: 2px;
      width: 15%;
    }
    &:before {
      right: 0.5em;
      margin-left: -50%;
    }
    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
    // Text between line effect
  }

  .gradient-bg {
    background: linear-gradient(to bottom, #1f1f1f 30%, #381c64);

    .homepage-events {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .events-button {
        padding: 10px 25px;
        margin-bottom: 100px;
        background-color: transparent;

        border: 1.5px solid $compsa-white;
        border-radius: 5px;

        transition: all ease-in-out 500ms;

        &:hover {
          background-color: rgba($compsa-purple, 0.2);
        }
      }
      .homepage-cards-container {
        display: flex;

        .homepage-events-card {
          background-color: $compsa-white;

          padding-top: 20px;
          padding-left: 30px;

          width: 230px;
          height: 230px;

          border-radius: 16px;

          margin: 60px 10px;

          .date {
            font-size: 46px;
          }
          .month {
            font-size: 20px;
            margin-top: 0px;
          }
          .name {
            font-size: 20px;
            margin-top: 8px;
          }
          .location {
            font-size: 18px;
          }
        }
      }
    }
  }

  @media (max-width: $md) {
    .hero-image-container .text {
      h1 {
        font-size: 42px;
      }
    }
    .events-heading {
      font-size: 36px;
      color: $compsa-yellow;
      &::before,
      &::after {
        display: none;
      }
    }
    .homepage-cards-container {
      flex-direction: column;

      margin-block: 40px;
      .homepage-events-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        max-height: 130px;
        min-width: 380px;

        // IGNORE THE BAD CODE FOR NOW
        margin: 20px 0 !important;
        .mobile-divide {
          text-align: right;
          margin-top: 5px;
        }
        padding: 0px 40px 15px 40px !important;

        .date {
          font-size: 42px !important;
          margin-bottom: -5px !important;
        }
        .name,
        .location {
          font-size: 16px;
        }
      }
    }
  }
  @media (max-width: $sm) {
    .hero-image-container .text p {
      font-size: 16px;
      padding-inline: 20px;
    }
    .events-description {
      width: 80vw;
      margin-top: 8px;
    }
    .homepage-cards-container {
      .homepage-events-card {
        min-width: 300px;
        margin: 12px 0 !important;
        padding: 0px 25px 15px 25px !important;
        .date {
          font-size: 32px !important;
          margin-bottom: 1px !important;
        }
        .month {
          font-size: 18px !important;
        }
        .name,
        .location {
          margin-top: 0px !important;
          font-size: 18px !important;
        }
      }
    }
    .events-heading {
      font-size: 30px;
    }
  }
}
