.resources {
  background: rgb(31, 31, 31);
  background: linear-gradient(0deg, #381c64 0%, #1f1f1f 100%);
  h1 {
    color: $compsa-yellow;
    font-size: 3em;
    font-weight: 900;
    margin: 2rem 0 2rem;
  }
  p {
    color: $compsa-white;
    font-size: 1.1em;
    max-width: 80%;
    margin-block: 1em;
  }
  @media (max-width: $xl) {
    font-size: 1rem;
    h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      max-width: 90%;
    }
  }
}

.content {
  padding: 4% 25% 7%;

  @media (max-width: $xl) {
    padding-left: 25%;
    padding-right: 25%;
  }
  @media (max-width: $lg) {
    padding-left: 20%;
    padding-right: 20%;
  }
  @media (max-width: $md) {
    padding-left: 15%;
    padding-right: 15%;
  }
  @media (max-width: $sm) {
    padding-left: 7%;
    padding-right: 7%;
  }
}

.section {
  color: $compsa-white;
  margin-top: 3.5rem;
  .title {
    font-size: 2.1em;
    font-weight: 600;
    text-align: left;
    display: flex;
    align-items: center;
    hr {
      flex-grow: 1;
      margin-left: 1.5rem;
    }
  }
  @media (max-width: $sm) {
    .title {
      font-size: 26px;
    }
    margin-top: 50px;
  }
}

.link-button {
  display: flex;
  align-items: center;

  background-color: $compsa-white;
  color: $compsa-black;

  border-radius: 0.5rem;

  padding: 0.4rem 1rem;
  margin-block: 1.25rem;

  transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;

  &:hover {
    background-color: $compsa-purple;
    color: $compsa-white;
  }

  &:active {
    transform: scale(
      0.95
    ); /* Scale down the button to 95% of its original size */
    background-color: darken($compsa-purple, 10%);
  }
  .text-div {
    color: $compsa-black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      color: $compsa-black;
      margin: 0.5em;
      font-size: 1em;
      text-align: right;
    }
    h6 {
      margin: 0.5em;
      font-size: 1.1rem;
      flex: 1;
      color: $compsa-black;
    }
  }
  .icon-div {
    font-size: 1.5em;
    padding: 0.4em;
    color: $compsa-indigo;
    @media (max-width: $xl) {
      padding: 0.35em 0.5em;
    }
    @media (max-width: $lg) {
      padding: 0.3em 0.5em;
    }
    @media (max-width: $md) {
      padding: 0.3em 0.5em;
    }
    @media (max-width: $sm) {
      padding: 0.25em 0.5em;
    }
    @media (max-width: $xs) {
      padding: 0.25em 0.5em;
    }
  }
}
