// CSS RESET - DO NOT TOUCH
// IMPORT FILES BELOw THE RESET

*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

// IMPORT TAILWIND
@tailwind base;
@tailwind components;
@tailwind utilities;

// IMPORT FILES BELOW
@import "styles/variables";
@import "styles/mixins";
// Do not import your files above this comment -----
@import "styles/about";
@import "styles/admin";
@import "styles/contact";
@import "styles/events";
@import "styles/home";
@import "styles/footer";
@import "styles/navbar";
@import "styles/resources";

// GLOBAL STYLES - PLEASE PUT SCSS INSIDE THE RELEVANT FILE

body {
  margin-top: 70px;
  background-color: $compsa-black;
  @media (max-width: $md) {
    margin-top: 60px;
  }

  .inline {
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #d7de21;
  }
  overflow-x: hidden;
}

// CUSTOM SCROLLBAR

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $compsa-black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $compsa-indigo;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $compsa-indigo;
}
