// CSS RESET - DO NOT TOUCH
// IMPORT IS BELOW
@import "styles/reset";

// IMPORT TAILWIND
@tailwind base;
@tailwind components;
@tailwind utilities;

// IMPORT FILES BELOW
@import "styles/variables";
@import "styles/mixins";
// Do not import your files above this comment -----
@import "styles/about";
@import "styles/admin";
@import "styles/contact";
@import "styles/events";
@import "styles/home";
@import "styles/footer";
@import "styles/navbar";
@import "styles/resources";
@import "styles/hiring";
@import "styles/internships";

// GLOBAL STYLES - PLEASE PUT SCSS INSIDE THE RELEVANT FILE

body {
  margin-top: 70px;
  background-color: $compsa-black;
  @media (max-width: $md) {
    margin-top: 60px;
  }

  .inline {
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #d7de21;
  }
  overflow-x: hidden;
}

.page-heading {
  color: $compsa-yellow;
  font-size: 42px;
  font-weight: 900;
  margin: 20px 0 10px;
}

.page-description {
  color: $compsa-white;
  max-width: 80%;
  font-size: 18px;
  margin-block: 1em;
}

.compsa-button {
  padding: 7px 30px;
  margin-block: 10px;

  display: inline-block;

  border: 1.5px solid $compsa-white;
  border-radius: 5px;

  background-color: transparent;
  transition: all ease-in-out 350ms;

  color: $compsa-white;

  &:hover {
    background-color: rgba($compsa-purple, 0.2);
  }
}

@media (max-width: $sm) {
  .page-heading {
    font-size: 36px;
  }
  .page-description {
    font-size: 16px;
    max-width: 90%;
  }
}

// CUSTOM SCROLLBAR

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $compsa-black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $compsa-indigo;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $compsa-indigo;
}
