.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;

  h1 {
    color: $compsa-yellow;
    font-size: 42px;
    font-weight: 900;
    margin: 20px 0 10px;
  }

  .section {
    margin-top: 50px;
    .title {
      font-size: 30px;
      text-align: left;
      display: flex;
      align-items: center;
      color: white;
      hr {
        flex-grow: 1;
        margin-left: 1rem;
      }
    }
  }

  background: linear-gradient(to bottom, #1f1f1f 30%, #381c64);
  border-radius: 1rem;
  .container2 {
    width: 50vw;
    .calendar {
      width: 50vw;
      border-radius: 5px;
      margin-bottom: 8em;
    }
  }
  .slideshow-title-text {
    font-size: 32px;
    text-align: left;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: white;
    hr {
      flex-grow: 1;
      margin-left: 1rem;
    }
  }
  .swiper {
    width: 100%;
    height: auto;
    margin: 2em auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    .swiper-slide {
      display: block;
      text-align: center;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .slideshow-container {
        color: #fff;
        position: absolute;
        left: 5%;
        bottom: 5%;
        text-align: left;
        .slideshow-date {
          margin-bottom: 2px;
          font-size: 16px;
        }

        .slideshow-title {
          font-size: 24px;
        }
      }
    }

    .swiper-pagination-bullet {
      background: #fff;
      opacity: 0.5;
      &-active {
        opacity: 1;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: #fff;
      border: 2px solid #fff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        font-size: 20px;
      }
      &:hover {
        background-color: rgba(
          236,
          234,
          234,
          0.7
        ); // Darker background on hover
      }
    }
  }
}
@media (max-width: $md) {
  .container2 {
    width: 90vw;
    .calendar {
      width: 100%;
    }
    .events-text h1 {
      margin: 2em 0 1em !important;
    }
  }
}
