.hiring {
  background: linear-gradient(0deg, #381c64 0%, #1f1f1f 100%);

  .page-description {
    p {
      margin-block: 8px;
    }
  }

  .content {
    padding: 4% 20% 7%;

    @media (max-width: $xl) {
      padding-inline: 15%;
    }
    @media (max-width: $lg) {
      padding-inline: 10%;
    }
    @media (max-width: $md) {
      padding-inline: 6%;
    }
    @media (max-width: $sm) {
      padding-inline: 5%;
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .listing {
    display: flex;
    align-items: center;

    border-radius: 0.5rem;

    padding: 0.4rem 1rem;
    margin-block: 1.25rem;

    position: relative;

    background-color: $compsa-white;

    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;

    &:hover {
      background-color: rgba($compsa-white, 0.9);
    }

    li {
      margin-left: 15px;
      list-style-type: circle;
    }

    .text-div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.5em;
      .job-description {
        width: 95%;
        @media (max-width: $sm) {
          width: 90%;
        }
      }
      h1 {
        font-size: 1.1rem;
      }
    }
  }

  .special {
    margin-bottom: 8px;
  }

  .job-number {
    width: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
