@import "./variables";

.homepage {
  min-height: 100vh;

  .hero-image-container {
    width: 100vw;
    height: 100vh;

    position: relative;

    .gradient {
      height: 100%;
      width: 100%;

      background-image: linear-gradient(
          to top,
          #1f1f1f 5%,
          rgba(#5d15d2, 0.1) 20%,
          transparent 50%
        ),
        url("/homepage-desktop.jpg");
      background-size: cover;
      background-position: center;

      position: absolute;
      top: 50;
      left: 0;
    }

    .text {
      position: absolute;
      left: 0;
      right: 0;
      top: 37%;

      text-align: center;

      h1 {
        font-size: 54px;
        @media (max-width: $sm) {
          font-size: 48px;
        }
      }

      p {
        font-size: 24px;
        margin-top: 5px;
        @media (max-width: $sm) {
          font-size: 20px;
        }
      }
    }
  }

  .events-heading {
    margin-top: 50px;
    overflow: hidden;

    font-size: 38px;
    text-align: center;

    // Text between line effect
    &:before,
    &:after {
      background-color: $compsa-yellow;
      content: "";

      display: inline-block;
      position: relative;
      vertical-align: middle;

      bottom: 3px;
      height: 2px;
      width: 15%;
    }
    &:before {
      right: 0.5em;
      margin-left: -50%;
    }
    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
    @media (max-width: $sm) {
      &:before,
      &:after {
        display: none;
      }
      color: $compsa-yellow;
    }
    // Text between line effect
  }

  .events-description {
    padding-inline: 20px;
  }

  .gradient-bg {
    background: linear-gradient(to bottom, #1f1f1f 30%, #381c64);

    .homepage-events {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 18px;
        margin-top: 5px;
      }

      .events-button {
        padding: 10px 25px;
        margin-bottom: 80px;
        background-color: transparent;

        border: 1.5px solid $compsa-white;
        border-radius: 5px;

        transition: all ease-in-out 350ms;

        &:hover {
          background-color: rgba($compsa-purple, 0.2);
        }
      }
      .homepage-cards-container {
        display: flex;
        margin: 2.5rem 0;

        .homepage-events-card {
          background-color: $compsa-white;

          padding-top: 20px;
          padding-left: 22px;

          width: 230px;
          height: 230px;

          border-radius: 16px;

          .date {
            font-size: 46px;
            // margin-bottom: 0;
          }
          .name {
            font-size: 20px;
            height: 60px;
          }
          .month {
            font-size: 20px;
            // margin-top: -10px;
          }
          .location {
            font-size: 16px;
          }
        }
      }
    }
  }
}
